body {
    font-family: Ebrima, sans-serif;
    background: linear-gradient(to left, mediumslateblue, #007bff);
}

.forgotPassword {
    position: absolute; /* Позиционируем элемент */
    top: 50%; /* Располагаем верхний край элемента по середине вертикально */
    left: 50%; /* Располагаем левый край элемента по середине горизонтально */
    transform: translate(-50%, -50%); /* Сдвигаем элемент обратно на половину его размеров влево и вверх */
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.forgotPassword input {
    height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
}

.forgotPassword button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.forgotPassword label {
    font-size: 30px;
    font-weight: 600;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.forgotPassword form {
    display: flex;
    flex-direction: column;
}